<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <h1><strong>Pokemons:</strong></h1>
  </ion-row>

  <ion-card *ngFor="let pokemon of pokemons; let i = index">
    <ion-col style="display: flex;">
      <ion-col col-6>

        <ion-item button style="width: 100%;" (click)="showPokemon(i + 1)">
          <h3 [innerText]="pokemon.name"></h3>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-fab-button [disabled]="disabled">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col col-4 style="display:flex; align-items: end; justify-content: end;">
        <ion-button>Default</ion-button>
      </ion-col>
    </ion-col>


  </ion-card> 

</ion-content>
